
{% extends 'base.html' %}
{% load static %}

{% block title %}More Data{% endblock %}

{% block content %}
    <div class="container">
        <h1>Seamless Scraping Triumph</h1>
        <p>The amount you specified is more than the data on the website.</p>
        <p>Scraped data available: {{ num_scraped }}</p>
        <p>Please adjust the amount and try again or scrape all available data.</p>
        <button class="btn btn-primary go-back-btn" onclick="goBack()">Go Back</button>
    </div>


    <script>
        // JavaScript function to go back to the previous page
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
