
{% extends 'base.html' %}
{% load static %}

{% block title %}No Data Found{% endblock %}

{% block content %}
    <div class="container">
        <h1>Scraping Completed Successfully</h1>
        <span class="success-icon">&#10004;</span>
        <p>The data has been efficiently scraped and meticulously stored in the file "scraped_results.csv."</p>
        <p>Stay ahead with valuable business insights and make informed decisions from the extracted information.</p>

        <!-- Display the number of scraped businesses -->
        <p>Scraped businesses: {{ num_scraped }}</p>

        <!-- Go Back Button using JavaScript -->
        <button class="btn btn-primary go-back-btn" onclick="goBack()">Go Back</button>
    </div>


    <script>
        // JavaScript function to go back to the previous page
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
